AddType text/plain .dat
php_value date.timezone Asia/Tokyo
AddType application/x-httpd-php .cgi
AddType image/x-icon .ico
AddDefaultCharset Shift-JIS

<Files ~ "^robotcheck_bypass.txt$">
	deny from all
</Files>

<Files ~ "^clientids.txt$">
	deny from all
</Files>

<Files ~ "^bbsmenu.html$">
	AddType application/x-httpd-php .html
</Files>

<Files ~ "^bbstable.html$">
	AddType application/x-httpd-php .html
</Files>
  
<Files ~ "^bbsmenu.json$">
	AddType application/x-httpd-php .json
	AddDefaultCharset UTF-8
</Files>